@import url(http://fonts.googleapis.com/css?family=Brawler|PT+Sans:400,700,400italic,700italic&subset=latin-ext,latin);
@import "variables";
@import "../vendor/bootstrap-sass/stylesheets/bootstrap";

.screen-reader-text {
  @extend .sr-only;
}

// Site Header
body {
  background-image: url('../img/bg-portfolio-perspectives-1280x449.png');
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.site-header-inner {
  margin-bottom: 5px;
}
.site-header-inner {
  @extend .container;
}
.site-branding {
  @extend .text-hide, .col-sm-6;
  h1 {
    padding-top: 17%;
    @extend .text-hide;
    background-image: url('../img/title-portfolio-perspectives-496x83.png');
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
  }
  h2 {
    height: 0;
    margin: 0;
    .lt-ie9 & { display: none; }
  }
}

.lt-ie9 {
  .nav {
    > li {
      > a {
        &:hover,
        &:focus {
          background-color: #FFFFFF;
        }
      }
    }

    // Open dropdowns
    .open > a {
      &,
      &:hover,
      &:focus {
        background-color: #FFFFFF;
      }
    }
  }
  .nav-pills {
    > li {
      // Active state
      &.active > a {
        &,
        &:hover,
        &:focus {
          background-color: #FFFFFF;
        }
      }
    }
  }
}
.main-navigation {
  @extend .row;
  .menu-container {
    @extend .col-sm-8, .col-md-9;
    > ul {
      @extend .nav, .nav-pills;
      > li {
        + li {margin-left: 15px;}
        > a {
          border: 1px solid #FFFFFF;
          border: 1px solid rgba(255, 255, 255, 0.6);
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
  #header-search {
    @extend .col-sm-4, .col-md-3, .hidden-xs;
    form {
      margin-top: 10px;
      @media screen and (min-width: $screen-sm-min) {
        float: right;
        margin-top: 0;
      }
    }
    input[type=search] {
      @extend .form-control;
    }
    .search-controls {
      @extend .input-group;
    }
    .submit {
      @extend .input-group-btn;
    }
    button {
      @extend .btn, .btn-primary;
    }
  }
}

// Site Body
.site-content-wrapper {
  @extend .container;
  background-color: #FFFFFF;
  background-color: rgba(255,255,255,0.8);
}
.site-content {
  @extend .row;
  padding-bottom: 40px;
}
.content-area {
  @extend .col-md-9, .col-md-push-3;
}
.sidebar-wrapper {
  @extend .col-md-3, .col-md-pull-9;
}
.widget-area {
  .widget-title {
    @extend .page-header;
  }
  .FeedburnerEmailWidget, .search-form {
    .form-inner {
      @extend .input-group;
    }
    .submit {
      @extend .input-group-btn;
      button {
        @extend .btn;
      }
    }
    input[type="text"], input[type="search"] {
      @extend .form-control;
    }
  }
  .FeedburnerEmailWidget .submit button {
    @extend .btn-success;
  }
  .search-form .submit button {
    @extend .btn-primary;
  }
  .widget_authors ul {
    @extend .media-list;
    li {
      @extend .media;
      img {
        @extend .media-object, .pull-left;
      }
      a {
        @extend .media-body;
      }
    }
  }
  .widget_categories ul {
    @extend .list-unstyled;
  }
  .image-ads {
    padding-top: 20px;
    @extend .row;
    .ad { @extend .col-xs-6, .col-md-12; }
    img { @include img-responsive(); margin-top: 10px; @include center-block(); }
  }
  .widget_archive ul {
    @extend .list-unstyled;
  }
}


//  Site Footer
.site-footer {
  padding: 20px 0 0 0;
  background-color: $brand-success;
  color: white;
  font-weight: 700;
  a { color: white; }
}
.footer-inner {
  @extend .container;
}
.site-info {
  @extend .row;
}
.blog-links {
  @extend .col-sm-6;
  ul {
    @extend .list-unstyled;
  }
}
.planview-brand {
  text-align: right;
  @extend .col-sm-6;
}
.copyright {
  padding-top: 50px;
  background-image: url('../img/logo-planview-white.png');
  background-position: top right;
  background-repeat: no-repeat;
}

//  Posts
.site-main {padding: 0 20px;}
.blog .post { padding-bottom: 20px; border-bottom: 1px solid #ddd; margin-bottom: 20px; &:last-of-type { border-bottom: none; }}
.entry-header {
  @extend .page-header;
  .entry-meta {
    @extend .media;
    img.avatar {
      @extend .media-body
    }
    p.meta-text {
      @extend .media-body;
      font-weight: bold;
      text-transform: uppercase;
    }
    .updated {
      @extend .hidden;
    }
  }
}

.entry-actions {
  @extend .pull-right;
  .comments-link a {
    @extend .label, .label-primary;
  }
}
.entry-title, .page-title, .comments-title, .comment-reply-title {
  font-family: 'Brawler', Georgia, "Times New Roman", serif;
  font-weight: 400;
}
footer.entry-meta {
  @extend .well, .well-sm;
  .cat-links, .tags-links, .edit-link {display: block; margin-bottom: 10px; &:last-child {margin-bottom: 0;}}
  .edit-link a {@extend .label, .label-warning;}
  .cat-links a {@extend .label, .label-success;}
  .tags-links a {@extend .label, .label-success;}

}

// Comments
.comments-area {
  .comment-meta {@extend .media-heading;}
  .comment-avatar {@extend .pull-left;}
  .comment-body {@extend .media-body;}
  ul {@extend .media-list;}
  li {@extend .media;}
  .comment-edit-link {@extend .label, .label-danger; margin-left: 5px;}
  .reply {margin-bottom: 10px;}
  .comment-reply-link {@extend .label, .label-warning; margin-left: 5px;}
}
#commentform {
  //  @extend .form-horizontal;
}
.comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url {
  @extend .form-group;
  //  label {@extend .col-sm-2;}
  //  .input-wrapper { @extend .col-sm-10; }
  input, textarea { @extend .form-control; }
  .required { @extend .text-danger; }
}
#commentsubmit {
  @extend .btn, .btn-lg, .btn-success; //.col-sm-offset-2;
}
.comment-awaiting-moderation{
  @extend .alert, .alert-info;
}

//  Paging
.paging-navigation, .post-navigation {
  ul.nav-links {
    @extend .pager;
    .nav-previous {
      @extend .previous;
      .meta-nav {@extend .glyphicon, .glyphicon-chevron-left;}
    }
    .nav-next {
      @extend .next;
      .meta-nav {@extend .glyphicon, .glyphicon-chevron-right;}
    }
  }
}
